# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so

# Virtualenv
.env
venv/
.envrc

# Editor
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml
.env.docker

# OS
.DS_Store

# Python packaging
dist/
build/
*.egg-info/

# Secrets
*.pem
*.key
gcp-credentials.json

# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
*.plan
*.tfvars
*.tfvars.json
.terraform/
crash.log
crash.log.*
.terraform.lock.hcl

# Logs
logs/

# Tests
extractor/test/

temp.txt

.github/

# dbt
dbt_hacker_news/package-lock.yml
dbt_hacker_news/target/
dbt_hacker_news/dbt_packages/
dbt_hacker_news/logs/
