extractor==0.5
google-cloud-storage==2.19.0
google-cloud-bigquery==3.38.0
prefect==3.4.22
prefect-gcp==0.6.10
prefect-shell==0.3.1
python-terraform==0.10.1
requests==2.32.5
tenacity==9.1.2
tqdm==4.67.1
